<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular Workbook Excercises</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css' media='screen' rel='stylesheet'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.css' media='screen' charset='utf-8'>
    <link rel="stylesheet" href="style.css" media="screen" charset="utf-8">
  </head>

  <body>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h2>Angular Workbook Exercises</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <br><br>
        <h4>1. Hello World</h4>
        <p>Say something to the world: <input type="text" ng-model='greeting' ng-init='greeting="Hello, "'></p>
        <p>{{ greeting }} world!</p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class='col-md-6 col-md-offset-1'>
        <br><br>
        <h4>2. Who are you?</h4>
        <p><input type="text" ng-model='name' placeholder='What is your name?'></p>
        <p>My name is: {{ name }}</p>
        <hr>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-md-offset-1'>
        <br><br>
        <h4>3. Dropdowns</h4>
        <p>Pick one:</p>
        <select class="animals" ng-model='animal'>
          <option value='dogs'>Dogs</option>
          <option value='cats'>Cats</option>
          <option value='dogs and cats'>Dogs and Cats</option>
          <option value='neither'>Neither</option>
        </select>
        <p>I love {{ animal }}</p>
        <hr>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-md-offset-1'>
        <br><br>
        <h4>4. Pi to $Pi</h4>
        <p>
          Plain Pi <br>
          {{ 3.14159265359 }}
        </p>
        <p>
          Money Pi <br>
          {{ 3.14159265359 | currency }}
        </p>
        <hr>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-md-offset-1'>
        <br><br>
        <h4>5. Euro Pi</h4>
        <p>
          {{ 3.14159265359 | currency : "€" }}
        </p>
        <hr>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-md-offset-1'>
        <br><br>
        <h4>6. Who is this, again?</h4>
        <p>Please say something</p>
        <p><input type='text' ng-model='something'></p>
        <p>Yelling <strong>{{ something | uppercase }}</strong></p>
        <p>Whispering <i>{{ something | lowercase }}</i></p>
        <hr>
      </div>
    </div>

    <div class='row' ng-app='selecty' ng-controller='selectController'>
      <div class='col-md-6 col-md-offset-1'>
        <br><br>
        <h4>7. Dropdown redux</h4>
        <p>How many digits of pi do you want?
          <select ng-model='digits' ng-options='digits for digits in list'></select>
        </p>
        <p>
          Here you go! The first {{ digits }}
          <ng-pluralize count='digits' when='{"1": "digit", "other": "digits"}'></ng-pluralize>
          of pi!
        </p>
        <p>{{ 3.14159265359 | number:digits }}</p>
      </div>
      <script>
      var selectApp = angular.module('selecty', []);

      selectApp.controller('selectController', function($scope) {
        $scope.list = ['1','2','3','4','5','6','7'];
      });
      </script>
    </div>

    <div class='row'>
      <div class='col-md-6 col-md-offset-1'>
        <br><br>

      </div>
    </div>

    <div class='row'>
      <div class='col-md-6 col-md-offset-1'>
        <br><br>

      </div>
    </div>

    <script type='text/javascript' src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js'></script>
  </body>
</html>
